## Домашнее задание 6

### Взаимосвязь величин. Параметрические и непараметрические показатели корреляции. 

### Корреляционный анализ

#### 1. Доходность двух активов за 8 периодов представлена в таблице:

In [19]:
import pandas as pd

In [22]:
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [23]:
pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])

   Периоды  Доходность актива Х  Доходность актива Y
0        1                   12                   14
1        2                   10                   18
2        3                   10                   13
3        4                    8                   10
4        5                   -5                   12
5        6                   -3                   -7
6        7                   10                   -2
7        8                    7                   10

#### Определить коэффициент корреляции доходностей активов X и У.

#### 2. Дана корелляционная  таблица случайного вектора (X,Y). Вычислите ковариацию cov(X,Y).

In [27]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [30]:
pd.DataFrame(tabledata, columns=["X/Y","-6", " 0", "3"])

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

#### 3. Определите коэффициент корреляции из № 2.

#### 4. Приведите примеры положительной корелляции из практики (5 примеров).

#### 5. Приведите примеры отрицательной корелляции  из практики (5 примеров).