# Домашка 6

#### 1. Доходность двух активов за 8 периодов представлена в таблице:

In [1]:
import pandas as pd

In [29]:
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [30]:
df = pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])
df

   Периоды  Доходность актива Х  Доходность актива Y
0        1                   12                   14
1        2                   10                   18
2        3                   10                   13
3        4                    8                   10
4        5                   -5                   12
5        6                   -3                   -7
6        7                   10                   -2
7        8                    7                   10

#### Определить коэффициент корреляции доходностей активов X и У.

In [18]:
cor = df[["Доходность актива Х", "Доходность актива Y"]].corr().iloc[0,1]
print('Корреляция Пирсона: ', round(cor,3))

Корреляция Пирсона:  0.397

#### 2. Дана корелляционная  таблица случайного вектора (X,Y). Вычислите ковариацию cov(X,Y).

In [31]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [32]:
df = pd.DataFrame(tabledata, columns=["X/Y","-6", " 0", "3"])
df

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

### Решение

Корреляционная таблица включает полное пространство всех событий, поэтому сумма, всех вероятностей в этой таблице равно 1.

In [86]:
#находим M(X)
X = df.iloc[:,0]
X

0   -2
1    0
2    1
3    7
Name: X/Y, dtype: int64

In [87]:
Px = df.iloc[:,1:].sum(axis=1) 
Px

0    0.30
1    0.25
2    0.25
3    0.20
dtype: float64

In [88]:
Mx = (X * Px).sum()
Mx

1.05

In [89]:
#находим M(Y)
Y = pd.Series(df.columns[1:], dtype='float64')
Y

0   -6.0
1    0.0
2    3.0
dtype: float64

In [90]:
Py = df.iloc[:,1:].sum(axis=0).reset_index().iloc[:,1]
Py

0    0.25
1    0.40
2    0.35
Name: 0, dtype: float64

In [92]:
My = (Y * Py).sum()
My

-0.4500000000000002

In [112]:
#Находим M(XY)

s = 0
for i in range(4):
    for j in range(3):
        x_i = X[i]
        y_j = Y[j]
        p_ij = df.iloc[i,j+1]
        s += x_i * y_j * p_ij

Mxy = s
Mxy

-1.9499999999999997

In [115]:
cov_xy = Mxy - Mx * My
print('cov(X,Y): ', round(cov_xy, 3))

cov(X,Y):  -1.477

#### 3. Определите коэффициент корреляции из № 2.

In [119]:
std_x = X.std()
std_y = Y.std()
std_x, std_y

(3.872983346207417, 4.58257569495584)

In [121]:
corr_xy = cov_xy / std_x / std_y
print('r(X,Y): ', round(corr_xy, 3))

r(X,Y):  -0.083

#### 4. Приведите примеры положительной корелляции из практики (5 примеров).

1. Рост и вес человека
2. Средний балл поступления и престижность вуза
3. Температура и давление газа
4. Количество тренеровок в неделю и спортивная форма
5. Близость дома к первой линии и стоимость дома

#### 5. Приведите примеры отрицательной корелляции  из практики (5 примеров).

1. Количество прорешанных задач к экзамену и количество ошибок на экзамене
2. Количество потребляемых каллорий в неделю и вес человека
3. Сила притяжения и расстояние объекта до Земли
4. Период самоизоляции в городе и количество заболевших (но это не точно :) )
5. Средний уровень подготовки водителей и количество аварий